[mgr]
show_hidden = true
show_symlink = true
[tasks]
image_alloc = 0
image_bound = [0, 0]

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"
